#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#place-tabs {
  height: 80px;
  margin-bottom: 40px;
  margin-top: 30px;
}
#place-tabs li {
  font-size: 40px;
  margin-left: 30px;
}

.lb_event_why {
  margin-bottom: 20px;
  font-size: 38px;
  color: coral;
  font-weight: bold;
}
.lb_event_subtitle {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.lb_top_highlight_text {
  margin-top: 30px;
}
.lb_tab_wrap {
  display: flex;
}

.tab_img {
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .tab_img {
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 10px;
  }
}
